@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  text-decoration: none;
  list-style: none;
}

header {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.links a:hover {
  color: hsl(0, 0%, 8%);
}

.links a {
  color: hsl(0, 0%, 41%);
  padding: 10px;
}

.link-feature,
.link-company {
  display: flex;
  align-items: center;
  gap: 10px;
}

.desc-company,
.desc-features {
  display: none;
}

.features:hover .desc-features,
.company:hover .desc-company {
  position: absolute;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  color: hsl(0, 0%, 8%);
}

.company:hover .desc-company {
  display: block;
}

.features:hover .desc-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.align-icon-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.desc-company li {
  margin: 10px 0;
}

.sign a {
  color: hsl(0, 0%, 41%);
}
.sign a:hover {
  color: hsl(0, 0%, 8%);
}

.button-register {
  color: hsl(0, 0%, 41%);
  margin-left: 1rem;
  cursor: pointer;
  width: 6.5rem;
  height: 2.625rem;
  background-color: transparent;
  border-radius: 14px;
  border: 2px solid hsl(0, 0%, 41%);
}
.button-register:hover {
  border: 2px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}

#btn-mobile {
  display: none;
}

main {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.image-hero-desktop {
  width: 30rem;
  height: 40rem;
}

.image-hero-mobile {
  display: none;
}

.left {
  margin-top: 4rem;
  width: 32.25rem;
  height: 34.5rem;
}

.title {
  font-size: 4rem;
}

.desc {
  color: hsl(0, 0%, 41%);
  margin-top: 3rem;
  width: 26.875rem;
}

.learn-more-btn {
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  margin-top: 3rem;
  width: 10.188rem;
  height: 3.5rem;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
}

.list-clients {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1100px) {
  .image-hero-desktop {
    display: none;
  }
  .image-hero-mobile {
    display: flex;
    width: 100%;
    height: 100%;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
  .left {
    margin-top: 2rem;
  }
  .title {
    text-align: center;
  }
  .desc {
    text-align: center;
    margin: 0 auto;
  }
  .learn-more-btn {
    margin-left: 35%;
    text-align: center;
  }
}
@media only screen and (max-width: 850px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  #menu {
    display: flex;
    position: absolute;
    width: 30%;
    top: 70px;
    right: 0;
    background-color: white;
    height: 0px;
    z-index: 1000;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #hamburguer {
    border-top: 2px solid;
    width: 20px;
    margin-left: 10px;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: hsl(0, 0%, 8%);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .features:hover .desc-features,
  .company:hover .desc-company {
    margin-top: 10px;
    margin-right: 1rem;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
  }
  #menu a {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
    margin-right: 10px;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: end;
    visibility: visible;
    overflow-y: auto;
  }
  .features:hover .desc-features,
  .company:hover .desc-company {
    position: static;
  }
}/*# sourceMappingURL=main.css.map */